* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body {
    /* background-color: #cde8ff; */
    background-attachment: fixed;
    height: 100vh;
}


.navbar {
    margin: 0;
    background: linear-gradient(90deg, #80c8ff, #5079ad);
    background-size: 100%;
    height: 90px;
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 999;
    transition: all 500ms ease-in-out;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

#navbar__logo {
    opacity: 100%;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__links {
    color: #ffffff;
    width: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3px 3rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
    background: #355269;
}

.button:hover {
    background: #4e7799;
    color: rgb(56, 56, 56);
    transition: all 250ms ease;
}

.navbar__links:hover {
    color: rgb(47, 74, 97);
    transition: all 250ms ease;
}

.navbar__links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 250ms ease-in-out;
}

.navbar__links:hover::after {
    width: 100%;
    left: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 150vh;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1600px;
    border-radius: 10px;
    margin-top: 4vh;
    background: white;
    text-align: center;
}

footer {
    background-color: rgb(43, 43, 43);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 10%;
}

hr {
    width: 75%;
    justify-content: center;
    margin: auto;
}

.navbar--hidden {
    transform: translateY(-100px);
    transition: all 500ms ease-in-out;
}

section p {
    width: 60%;
}

section h2 {
    margin-bottom: 50px;
}

#mycar {
    margin: 10vh;
    width: 50%;
    border-radius: 50px;
}

#geologo {
    margin: 10vh;
    width: 50%;
    display: flex;
}

.hidden {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

h3 {
    margin-top: 35px;
}

table {
    border: 1px solid black;
    width: 70%;
    text-align: center;
}

th {
    height: 4vh;
    padding: 10px;
}

th, td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

.question {
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.answer {
    list-style-type: none;
    font-size: 0.9rem;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-bottom: 100px;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 600ms ease-in-out;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: linear-gradient(90deg, #80c8ff, #5079ad);
        top: 100%;
        opacity: 1;
        transition: all 600ms ease-in-out;
        z-index: 99;
        height: 50vh;
        font-size: 1.2rem;
    }

    #navbar__logo {
        padding-left: 20px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 300ms ease-in-out;
        background: #fff;

    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 60px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}