* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background: radial-gradient(circle, rgb(255, 255, 255) 75%, rgb(218, 218, 218));
    background-attachment: fixed;
    height: 100vh;
}


.navbar {
    margin: 0;
    background: linear-gradient(90deg, #80c8ff, #5079ad);
    background-size: 100%;
    height: 90px;
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

#navbar__logo {
    opacity: 100%;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__links {
    color: #ffffff;
    width: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3px 3rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #355269;
}

.button:hover {
    background: #4e7799;
    color: rgb(56, 56, 56);
    transition: all 250ms ease;
}

.navbar__links:hover {
    color: rgb(47, 74, 97);
    transition: all 250ms ease;
}

.navbar__links::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 250ms ease-in-out;
}

.navbar__links:hover::after {
    width: 100%;
    left: 0;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    border: solid red;
}

footer {
    background-color: rgb(43, 43, 43);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 10%;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 850ms ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: linear-gradient(90deg, #80c8ff, #5079ad);
        top: 100%;
        opacity: 1;
        transition: all 850ms ease;
        z-index: 99;
        height: 70vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 300ms ease-in-out;
        background: #fff;

    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 60px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}